img {
    align-items: center;
}

.logo {
    display: block;
    text-align: center;
}

.registration {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 33rem;
    font-family: 'Lato', sans-serif;
}

.form-box {
    width: 20rem;
    margin-left: 1rem;
}

.user-input {
    font-size: small;
    font-weight: bolder;
}

input {
    margin: 5px 0px 15px 0px;
    height: 1.5rem;
    width: 19rem;
}

#password {
    margin: 5px 0px 0px 0px;
}

#info {
    font-size: x-small;
    font-weight: bolder;
    margin: 0px 0px 15px 0px;
}

#icon {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    font-weight: bolder;
    color: rgb(0, 195, 255);
}

#submit {
    color: white;
    height: 30px;
    width: 19.5rem;
    border-radius: 0.2rem;
    background-color: rgb(73, 119, 218);
    border-style: none;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.instructions {
    font-size: 0.8rem;
}

hr {
    margin: 30px;
    clear: both;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, white, transparent, white), linear-gradient(transparent, rgba(146, 143, 143, 0.87) 150%);
}